.block__flex{
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
    font-size: 20em;
}

.blocflex__article {
    flex : 1 0 250px;
    padding: 10px;
    margin : 10px;
    border-radius: 20px 20px 20px;   
    background-color: mediumturquoise;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    @media screen and (min-width:400px){
        flex : 1 0 150px;

        .blocflex__article a{
            font-size: 20px;
        }
        .blocflex__article p{
            font-size: 20px;
        }
        
    }
}

.blocflex__galerie{
    flex: 1 0 100%;
}