

.entete__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width:$largeur__mobile) {
        flex-direction: row;
    }
}

.site__titre {
    text-decoration: none;

}

.site__titre h1{
    font-size: clamp(6rem, .3864rem + 5.4545vw, 1.375rem);
    transition: all 0.7s;
    color: rgb(233, 84, 84);
    justify-content: end;
    gap: 20px;
    @media screen and (min-width:$largeur__mobile) {
        text-align: center;
        align-items: center;
    }
}
a{   text-decoration: none;
    transition: 0.3s;
}

.site__titre :hover{
    transform: skew(180deg, 1deg);
    color: white;
    }

   
a:hover{
    color: white;
    transform: scaleZ(); 
}
.menu__recherche{
    display: flex;
    flex-direction : column-reverse;
    align-items: flex-end;
    @media screen and (min-width : $largeur__bureau) {
        flex-direction: row;
    }
}
  
// menu__entete
.menu__entete{ // nav 

.menu{ // ul
   display: flex;
   flex-direction:row;
   list-style-type: none ;
   justify-content: space-between;
 
   gap: 20px;
    transform: translateX(2rem);
    @media screen and (min-width:500px) {
        position: static;
        top: auto;
        right: auto;
        flex-direction: colum;
        text-align: center;
        transform: translateX(0);
    }

    .menu-item { //li
        background-color: crimson;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        padding: 15px;
        transition: 0.3s;
          border-radius: 15px ;
          color: greenyellow;
          align-self: center;

         &:hover{
            
            transform: translateY(-10px);
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            background-color: adjust-hue($color: #000000, $degrees: 0);
            color:rgb(231, 233, 84);

          }

          .menu-item::before{
            content: "";
            background: transparent;
            border-radius: 0rem;
            padding-inline: 0rem;
            margin-inline-end: 0rem;
          }
        a{
            color: inherit;
            text-decoration: none;
            padding: 10px 10px;
        }
    }
}
}