.site__titre {
    text-decoration: none;

}

.site__titre h1{
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
    transition: 0.3s;
}
a{   text-decoration: none;
    transition: 0.3s;
}
   
  
.site__titre :hover{
    color: white;
    transform: scaleZ();
    }

a:hover{
    color: white;
    transform: scaleZ(); 
}

.site__entete{

}
// menu__entete
.menu__entete{ // nav 

.menu{ // ul
   display: flex;
   list-style-type: none ;
   justify-content: flex-end;

    .menu-item { //li
        background-color: crimson;
          border-radius: 15px ;
          color: greenyellow;
          align-self: center;
        a{
             padding: 3px 5px;
        }
    }
}
}