.menu-evenement-container
.menu-bloc-archive-container{//nav
    background-color: transparent;
    .menu{ //ul
        display: flex;
        justify-content: space-between;
        .menu-item{
            //li
            background-color: cornflowerblue;
            display: flex;
            flex-direction: column;
            border-radius:2px 2px 2px 2px ;
            content: none;
            margin-left: 8em;
            height: 100px;
            margin: 10px ;
            margin-left: 14em;
            
            text-align: center;
        
        }

        a{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            .title{
                font-size: 1.5rem;
            }
            .description{
                font-size: 1rem;
            }
        }
    }
}

.img__archive{
    width: 300px;
    height: 150px;
    background-size: cover;
}

.archive__cours .img__archive{
        background-image: url(https://media.gcflearnfree.org/content/5e31ca08bc7eff08e4063776_01_29_2020/ProgrammingIllustration.png);
}

.archive__4w4 .img__archive{
    
}