.recherche{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 3rem;
    
}
.recherche__input{
    padding: 6px;
    background-color: rgb(45, 43, 43);
    border-radius:  20px 1px  1px 20px ;
    gap: 2px;
}

.recherche__bouton{
    border-radius: 1px 20px 20px 1px;
    padding: 6px;
    background-color: rgb(45, 43, 43);
}